p {
    font-family: verdana;
    font-size: 400px;
    }
    style>
    body {
      background-color: rosybrown;
    }
    
    h1 {
      color: rosybrown;
      text-align: center;
    }
    
    p {
      font-family: verdana;
      font-size: 20px;
      color: rosybrown;
    }


    body {
      background-image: url('imgae1.jpeg');
      background-repeat: no-repeat;
    }
    footer {color: #dc143c;
      }

      
    body {
  background-color: rosybrown
}

          body {
            background-color: rosybrown;
          }
          
          h1 {
            color: #dc143c;
            text-align: center;
          }
          
          p {
            font-family: verdana;
            font-size: 20px;
            color:#dc143c;
          }
